<!DOCTYPE html>
<html>
<head>
    <title>Maintenance Page</title>
    <style>
        body {
            font-family: 'Helvetica Now Display', sans-serif;
            background-color: #fafafa;
            text-align: center;
            padding: 50px;
        }
        
        h1, h4 {
            color: #070606;
            margin-bottom: 20px;
        }
        
    
        button, input[type="submit"] {
            background-color: #2e67b2;
            color: white;
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        
        #openPopup {
            max-width: 15%;
        }
        
        
        form {
            background-color: #f0f0f0;
            padding: 20px;
            border-radius: 10px;
            display: inline-block;
            width: 100%;
            max-width: 500px;
            margin: 0 auto; 
        }
        
        label, input, select {
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
        }
        
        
        form li {
            list-style-type: none;
        }
        
        
        button:hover, input[type="submit"]:hover {
            background-color: #1a4b8b;
        }
        
       
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        
        table, th, td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }
        
        th {
            background-color: #f0f0f0;
        }
        
       
        #edit-form {
            display: none; 
            margin-top: 20px;
        }


        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .pagination a {
            margin: 0 10px;
            text-decoration: none;
            color: #007bff;
        }

        .pagination span {
            margin: 0 10px;
        }

        </style>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
        
            function drawChart() {
                // Your chart drawing logic goes here
            }
        </script>
        
</head>
<body>
    <h1>Address Verification - Maintenance Page</h1>
    <h4>Use this page to add, edit, and delete records in the database.</h4>


<button id="openPopup">Add New Address</button>
<div id="popup" style="display: none;">
<form id="popupForm" action="/new_entry" method="post"><li><label for="AddressLine1">Address Line 1:</label></li>
<li><input type="text" name="addressLine1" id="addressLine1" size="60" required/></li>
<li><label for="addressLine2">Address Line 2: </label></li>
<li><input type="text" name="addressLine2" id="addressLine2" size="60" placeholder="Apartment/Suite #, etc." /></li>
<li><label for="city">City:</label></li>
<li><input type="text" name="city" id="city" size="20" required/></li>

<li><label for="country">Country:</label></li>
<li>
    <select name="country" id="country" required onchange="updateStateOptions()">
        <option selected="" value="Default">(Please select a country)</option>
        <option value="US" id="US">USA</option>
        <option value="CA" id="CA">Canada</option>
    </select>
</li>

<li><label for="stateorprovince">State/Province:</label></li>
<li>
    <select name="stateorprovince" id="stateorprovince" required>
        <option selected="" value="Default">(Please select a state/province)</option>
        <!-- Options will be dynamically populated based on the selected country -->
    </select>
</li>


<li><label for="zip">ZIP Code:</label></li>
<li><input type="text" name="zip" id="zip" size="5" required/></li>

<li><label for="zip +4">ZIP Code +4:</label></li>
<li><input type="text" name="zip +4" size="4" id="zipplusfour"/></li>

<li><input type="submit" value="Submit"></li>

</form>

<form>

<label for="csvFile">Upload CSV File:</label>
<input type="file" id="csvFile" name="csvFile" accept=".csv" required>

<!-- Your submit button -->
<button type="submit">Submit CSV file:</button>
</form>

</div>


    <h1>Entry Lookup</h1>
    <input type="text" id="searchInput" placeholder="Search addresses">
    <table>
        <thead>
            <tr>
                <th colspan="10">Addresses</th>
            </tr>
                <thead>
                        <th>ID</th>
                        <th>Address Line 1</th>
                        <th>Address Line 2</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>ZIP Code</th>
                        <th>ZIP Code +4</th>
                        <th>Action</th>
                        <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry._id }}</td>
                <td>{{ entry.addressLine1 }}</td>
                <td>{{ entry.addressLine2 }}</td>       
                <td>{{ entry.city }}</td>        
                <td>{{ entry.stateorprovince }}</td>  
                <td>{{ entry.country }}</td>  
                <td>{{ entry.zip }}</td>               
                <td>{{ entry.zipplusfour }}</td>               
            
             
                <td>
              <button class="edit-entry-button" data-entry-id="{{ entry._id }}">Edit</button> 
                </td> 
                <td>
                    <button class="delete-entry-button" data-entry-id="{{ entry._id }}">Delete</button>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Maintenance Screen Content -->

<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('entry_list', page=page-1) }}">&laquo; Previous</a>
    {% endif %}
    <span>Page {{ page }} of {{ total_pages }}</span>
    {% if page < total_pages %}
        <a href="{{ url_for('entry_list', page=page+1) }}">Next &raquo;</a>
    {% endif %}
</div>

    <form id="edit-form" action="/edit_entry/{{ entry_id }}" method="post" style="display: none;" onsubmit="return validateEditForm()">
    <input type="hidden" name="entry_id" id="edit-entry-id">
    <label for="edit-addressLine1">Address Line 1:</label>
    <input type="text" name="addressLine1" id="edit-addressLine1">
    <input type="text" name="addressLine2" id="edit-addressLine2">
    <input type="text" name="city" id="edit-city">
    <input type="text" name="stateorprovince" id="edit-stateorprovince">
    <input type="text" name="country" id="edit-country">
    <input type="text" name="zip" id="edit-zip">
    <input type="text" name="zipplusfour" id="edit-zipplusfour">

    <input type="submit" value="Save Changes">
    </form>
    <div id="chart_div" style="width: 100%; height: 400px;"></div>
<script>

    
    const regionMapping = {
        'Connecticut': 'US Northeast',
        'Delaware': 'US Northeast',
        'Maine': 'US Northeast',
        'Maryland': 'US Northeast',
        'Massachusetts': 'US Northeast',
        'New Hampshire': 'US Northeast',
        'New Jersey': 'US Northeast',
        'New York': 'US Northeast',
        'Pennsylvania': 'US Northeast',
        'Rhode Island': 'US Northeast',
        'Vermont': 'US Northeast',
        'District of Columbia': 'US Northeast',
    
        'Alabama': 'US South',
        'Arkansas': 'US South',
        'Florida': 'US South',
        'Georgia': 'US South',
        'Kentucky': 'US South',
        'Louisiana': 'US South',
        'Mississippi': 'US South',
        'North Carolina': 'US South',
        'South Carolina': 'US South',
        'Tennessee': 'US South',
        'Virginia': 'US South',
        'West Virginia': 'US South',
        'Texas': 'US South',
        'Oklahoma': 'US South',
    
        'Illinois': 'US Midwest',
        'Indiana': 'US Midwest',
        'Iowa': 'US Midwest',
        'Kansas': 'US Midwest',
        'Michigan': 'US Midwest',
        'Minnesota': 'US Midwest',
        'Missouri': 'US Midwest',
        'Nebraska': 'US Midwest',
        'North Dakota': 'US Midwest',
        'Ohio': 'US Midwest',
        'South Dakota': 'US Midwest',
        'Wisconsin': 'US Midwest',
    
        'Arizona': 'US West',
        'California': 'US West',
        'Colorado': 'US West',
        'Idaho': 'US West',
        'Montana': 'US West',
        'Nevada': 'US West',
        'New Mexico': 'US West',
        'Oregon': 'US West',
        'Utah': 'US West',
        'Washington': 'US West',
        'Wyoming': 'US West',
        'Alaska': 'US West',
        'Hawaii': 'US West',
    
        'New Brunswick': 'East Canada',
        'Newfoundland and Labrador': 'East Canada',
        'Nova Scotia': 'East Canada',
        'Ontario': 'East Canada',
        'Prince Edward Island': 'East Canada',
        'Quebec': 'East Canada',
    
        'Alberta': 'West Canada',
        'British Columbia': 'West Canada',
        'Manitoba': 'West Canada',
        'Saskatchewan': 'West Canada'
    };
    
    const regionCounts = {
        'US Northeast': 0,
        'US South': 0,
        'US Midwest': 0,
        'US West': 0,
        'East Canada': 0,
        'West Canada': 0
    };

    function updateStateOptions() {
        const countryDropdown = document.getElementById('country');
        const stateDropdown = document.getElementById('stateorprovince');
    
        // Clear existing options
        stateDropdown.innerHTML = '<option selected="" value="Default">(Please select a state/province)</option>';
    
        // Check the selected country and populate state/province options accordingly
        if (countryDropdown.value === 'US') {
            // Populate with US states
            const usStates = [
                'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
                'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
                'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
                'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
                'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
                'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
                'West Virginia', 'Wisconsin', 'Wyoming'
            ];
            populateStates(usStates);
        } else if (countryDropdown.value === 'CA') {
            // Populate with Canadian provinces
            const canadianProvinces = [
                'Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Nova Scotia',
                'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan'
            ];
            populateStates(canadianProvinces);
        }
    }
    
    function populateStates(states) {
        const stateDropdown = document.getElementById('stateorprovince');
    
        states.forEach((state) => {
            const option = document.createElement('option');
            option.value = state;
            option.textContent = state;
            stateDropdown.appendChild(option);
        });
    }



    document.addEventListener('DOMContentLoaded', () => {
        fetchEntries(); // Fetch entries when the page loads
        addOpenPopupClickListener(); // Add click event listener to open popup button
        const searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('input', fetchEntries);
        searchInput.addEventListener('change', fetchEntries);
    });


    // Event listener for CSV upload form
document.getElementById('csvFile').addEventListener('submit', function (event) {
    event.preventDefault();

    // Create a FormData object to append form data
    const formData = new FormData(this);

    // Make a POST request to your server endpoint (modify the URL accordingly)
    fetch('/upload_csv', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        // Handle the server response for CSV upload
        console.log(data);
        // Optionally, update the UI based on the response
    })
    .catch(error => {
        console.error('Error:', error);
        // Handle errors if needed
    });
});
    

    function fetchEntries() {
        console.log('Fetching entries...');
    
        fetch('/entries-json')
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`Fetch failed with status: ${response.status}`);
                }
                return response.json();
            })
            .then((data) => {
                console.log('Data received from the server:', data);
    
                const entries = data.entries;
                const tbody = document.querySelector('tbody');
                const searchInput = document.getElementById('searchInput').value.toLowerCase();
                tbody.innerHTML = '';

                for (const region in regionCounts) {
                    regionCounts[region] = 0;
                }
                entries.forEach((entry) => {
                    // Check if addressLine1 is defined before accessing its value
                    if (entry.addressLine1 && entry.addressLine1.toLowerCase().includes(searchInput) ||
                        (entry.addressLine2 && entry.addressLine2.toLowerCase().includes(searchInput)) ||
                        (entry.city && entry.city.toLowerCase().includes(searchInput)) ||
                        (entry.stateorprovince && entry.stateorprovince.toLowerCase().includes(searchInput)) ||
                        (entry.country && entry.country.toLowerCase().includes(searchInput)) ||
                        (entry.zip && entry.zip.toLowerCase().includes(searchInput)) ||
                        (entry.zipplusfour && entry.zipplusfour.toLowerCase().includes(searchInput))
                    ) {
                        // Only add the row if it matches the search input
                        const row = createRow(entry);
                        tbody.appendChild(row);

                        const region = regionMapping[entry.stateorprovince] || regionMapping[entry.country];
                        if (region) {
                            regionCounts[region]++;
                    }
                }
                });
                drawChart();
                addEditButtonsClickListener();
                addDeleteButtonsClickListener();
                   })
            .catch((error) => {
                console.error('Error fetching entries:', error);
            });
    }
    

    
// Create a separate function to generate a row for an entry
function createRow(entry) {
    const row = document.createElement('tr');
    // ... (same code as before for creating cells)
    const idCell = document.createElement('td');

    idCell.textContent = entry._id;

    const addressLine1Cell = document.createElement('td');
    addressLine1Cell.textContent = entry.addressLine1;

    const addressLine2Cell = document.createElement('td');
    addressLine2Cell.textContent = entry.addressLine2;

    const cityCell = document.createElement('td');
    cityCell.textContent = entry.city;

    const stateCell = document.createElement('td');
    stateCell.textContent = entry.stateorprovince;

    const countryCell = document.createElement('td');
    countryCell.textContent = entry.country;

    const zipCell = document.createElement('td');
    zipCell.textContent = entry.zip;

    const zipplusfourCell = document.createElement('td');
    zipplusfourCell.textContent = entry.zipplusfour;


    const actionCell = document.createElement('td');
    const editButton = document.createElement('button');
    editButton.classList.add('edit-entry-button'); 
    editButton.textContent = 'Edit';
    editButton.dataset.entryId = entry._id;
    

    const actionCellTwo = document.createElement('td');
    const deleteButton = document.createElement('button');
    deleteButton.className = 'delete-entry-button';
    deleteButton.textContent = 'Delete';
    deleteButton.dataset.entryId = entry._id;

    // Attach an event listener to the "Edit" button
    editButton.addEventListener('click', (event) => {
        event.preventDefault(); // Prevent the link from navigating

        const entryId = entry._id;
        getEntryById(entryId)
            .then((entry) => {
                if (entry) {
                    // Populate the edit form with the entry data and show it
                    populateEditForm(entry);
                }
            })
            .catch((error) => {
                console.error('Error fetching entry by ID:', error);
            });
    });

    row.appendChild(idCell);
    row.appendChild(addressLine1Cell);
    row.appendChild(addressLine2Cell);
    row.appendChild(cityCell);
    row.appendChild(stateCell);
    row.appendChild(countryCell);
    row.appendChild(zipCell);
    row.appendChild(zipplusfourCell);

    actionCell.appendChild(editButton);
    row.appendChild(actionCell);
    row.appendChild(actionCellTwo);
    actionCellTwo.appendChild(deleteButton);

    return row;
}
    
    function createTableCell(text) {
        const cell = document.createElement('td');
        cell.textContent = text;
        return cell;
    }
    


    function addDeleteButtonsClickListener() {
        console.log('Delete Buttons Click Listener');
    
        // Attach a click event listener to the 'tbody' element
        const table = document.querySelector('table');
        table.addEventListener('click', async (event) => { 
            const deleteButton = event.target.closest('.delete-entry-button');
            if (deleteButton) {
                event.preventDefault(); // Prevent the link from navigating
                console.log('Delete button clicked');
    
                const entryId = deleteButton.dataset.entryId;
                const confirmed = confirm('Are you sure you want to delete this entry?');
    
                if (confirmed) {
                    await deleteEntry(entryId);
                    fetchEntries(); // Refresh the entry list
                }
            }
        });
    }
    


function deleteEntry(entryId) {
    fetch(`/delete_entry/${entryId}`, {
        method: 'POST',
    })
    .then((response) => {
        if (response.ok) {
            // Handle the success case, e.g., by updating the UI
            fetchEntries(); // Refresh the entry list
        } else {
            // Handle errors, e.g., by displaying an error message
            console.error('Entry deletion failed with status:', response.status);
        }
    })
    .catch((error) => {
        // Handle network or other errors
        console.error('Error during entry deletion:', error);
    });
}


function addEditButtonsClickListener() {
    console.log('Add Edit Buttons Click Listener');

    // Add a click event listener to all elements with the class "edit-entry-button"
    const tbody = document.querySelector('tbody');

    tbody.addEventListener('click', (event) => {
        const editButton = event.target.closest('.edit-entry-button');
        if (editButton) {
            event.preventDefault(); // Prevent the link from navigating

            const entryId = editButton.dataset.entryId;
            try {
                const entry = getEntryById(entryId)
                    .then((entry) => {
                        if (entry) {
                            // Populate the edit form with the entry data and show it
                            populateEditForm(entry);
                        }
                    })
                    .catch((error) => {
                        console.error('Error fetching entry by ID:', error);
                    });
            } catch (error) {
                console.error('Error fetching entry by ID:', error);
            }
        }
    });
}


function addOpenPopupClickListener() {
    const openButton = document.getElementById('openPopup');
    const popup = document.getElementById('popup');

    openButton.addEventListener('click', () => {
        popup.style.display = 'block'; // Show the pop-up
    });

    const popupForm = document.getElementById('popupForm');
    popupForm.addEventListener('submit', () => {
        popup.style.display = 'none'; // Hide the pop-up after submission
    });
}


function getEntryById(entryId) {
    return new Promise(async (resolve, reject) => {
        try {
            const response = await fetch(`/entry/${entryId}`);
            if (!response.ok) {
                throw new Error(`Fetch failed with status: ${response.status}`);
            }
            const entry = await response.json();
            resolve(entry);
        } catch (error) {
            reject(error);
        }
    });
}


const editForm = document.getElementById('edit-form');

editForm.addEventListener('submit', async (event) => {
    event.preventDefault(); // Prevent the default form submission

    try {
        const formData = new FormData(editForm); // Get the form data
        const response = await fetch(editForm.action, {
            method: 'POST',
            body: formData,
        });

        if (response.ok) {
            // Handle the success case
            console.log('Form submitted successfully');
        } else {
            // Handle errors, such as displaying an error message
            console.error('Form submission failed with status:', response.status);
        }
    } catch (error) {
        // Handle network or other errors
        console.error('Error during form submission:', error);
    }
});



function populateEditForm(entry) {
    console.log('Populating edit form:', entry);
    // Implement a function to populate the edit form with entry data
    // Set the input fields with the entry's values for editing
    // Show the edit form

    // Example code to populate form fields (adjust based on your HTML structure)
    document.getElementById('edit-entry-id').value = entry._id;
    document.getElementById('edit-addressLine1').value = entry.addressLine1;
    document.getElementById('edit-addressLine2').value = entry.addressLine2;
    document.getElementById('edit-city').value = entry.city;
    document.getElementById('edit-stateorprovince').value = entry.stateorprovince;
    document.getElementById('edit-country').value = entry.country;
    document.getElementById('edit-zip').value = entry.zip;
    document.getElementById('edit-zipplusfour').value = entry.zipplusfour;


    const editForm = document.getElementById('edit-form');
    editForm.action = `/edit_entry/${entry._id}`;

    document.getElementById('edit-form').style.display = 'block'; // Show the edit form
    console.log('Edit form populated:', entry);
}

function validateEditForm() {
    // Validate required fields
    console.log('Validating form...');
    const requiredFields = ['edit-addressLine1', 'edit-city', 'edit-country', 'edit-stateorprovince', 'edit-zip'];
    for (const field of requiredFields) {
        const value = document.getElementById(field).value.trim();
        if (!value) {
            alert(`Please fill in the required field: ${field}`);
            return false; // Prevent form submission
        }
    }

    return true; // Allow form submission
}

</script>

<script>
google.charts.load('current', { 'packages': ['corechart'] });
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    // Convert region counts object to an array
    const regionData = Object.entries(regionCounts);

    // Add chart drawing logic
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Region');
    data.addColumn('number', 'Number of Addresses');
    
    // Add data to the chart
    data.addRows(regionData);

    var options = {
        title: 'Number of Addresses in Each Region',
        pieHole: 0.4, // Add a hole in the middle for a donut chart effect
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
}
</script>
<div id="chart_div" style="width: 100%; height: 400px;"></div>

</body>

</html>

