<!DOCTYPE html>
<html>
<head>
    <title>Address Lookup</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>

</head>
<body>
<h1>Address Verification</h1>
<form id="addressForm">
<li><label for="AddressLine1">Address Line 1:</label></li>
<li><input type="text" name="addressLine1" id="addressLine1" size="60" /></li>
<li><label for="addressLine2">Address Line 2: </label></li>
<li><input type="text" name="addressLine2" id="addressLine2" size="60" placeholder="Apartment/Suite #, etc." /></li>
<li><label for="city">City:</label></li>
<li><input type="text" name="city" id="city" size="20" /></li>

<li><label for="country">Country:</label></li>
<li><select name="country" id="country">
<option selected="" value="Default">(Please select a country)</option>
<option value="US" id="US">USA</option>
<option value="CA" id="CA">Canada</option>
</select></li>

<li><label for="stateorprovince">State/Province:</label></li>
<li>
    <select name="stateorprovince" id="stateorprovince">
        <option selected="" value="Default">(Please select a state)</option>
        <option value="AL" id="AL">Alabama (AL)</option>
        <option value="AK" id="AK">Alaska (AK)</option>
        <option value="AZ" id="AZ">Arizona (AZ)</option>
        <option value="AR" id="AR">Arkansas (AR)</option>
        <option value="CA" id="CA">California (CA)</option>
        <option value="CO" id="CO">Colorado (CO)</option>
        <option value="CT" id="CT">Connecticut (CT)</option>
        <option value="DE" id="DE">Delaware (DE)</option>
        <option value="DC" id="DC">District Of Columbia (DC)</option>
        <option value="FL" id="FL">Florida (FL)</option>
        <option value="GA" id="GA">Georgia (GA)</option>
        <option value="HI" id="HI">Hawaii (HI)</option>
        <option value="ID" id="ID">Idaho (ID)</option>
        <option value="IL" id="IL">Illinois (IL)</option>
        <option value="IN" id="IN">Indiana (IN)</option>
        <option value="IA" id="IA">Iowa (IA)</option>
        <option value="KS" id="KS">Kansas (KS)</option>
        <option value="KY" id="KY">Kentucky (KY)</option>
        <option value="LA" id="LA">Louisiana (LA)</option>
        <option value="ME" id="ME">Maine (ME)</option>
        <option value="MD" id="MD">Maryland (MD)</option>
        <option value="MA" id="MA">Massachusetts (MA)</option>
        <option value="MI" id="MI">Michigan (MI)</option>
        <option value="MN" id="MN">Minnesota (MN)</option>
        <option value="MS" id="MS">Mississippi (MS)</option>
        <option value="MO" id="MO">Missouri (MO)</option>
        <option value="MT" id="MT">Montana (MT)</option>
        <option value="NE" id="NE">Nebraska (NE)</option>
        <option value="NV" id="NV">Nevada (NV)</option>
        <option value="NH" id="NH">New Hampshire (NH)</option>
        <option value="NJ" id="NJ">New Jersey (NJ)</option>
        <option value="NM" id="NM">New Mexico (NM)</option>
        <option value="NY" id="NY">New York (NY)</option>
        <option value="NC" id="NC">North Carolina (NC)</option>
        <option value="ND" id="ND">North Dakota (ND)</option>
        <option value="OH" id="OH">Ohio (OH)</option>
        <option value="OK" id="OK">Oklahoma (OK)</option>
        <option value="OR" id="OR">Oregon (OR)</option>
        <option value="PA" id="PA">Pennsylvania (PA)</option>
        <option value="RI" id="RI">Rhode Island (RI)</option>
        <option value="SC" id="SC">South Carolina (SC)</option>
        <option value="SD" id="SD">South Dakota (SD)</option>
        <option value="TN" id="TN">Tennessee (TN)</option>
        <option value="TX" id="TX">Texas (TX)</option>
        <option value="UT" id="UT">Utah (UT)</option>
        <option value="VT" id="VT">Vermont (VT)</option>
        <option value="VA" id="VA">Virginia (VA)</option>
        <option value="WA" id="WA">Washington (WA)</option>
        <option value="DC" id="DC">Washington DC (DC)</option>
        <option value="WV" id="WV">West Virginia (WV)</option>
        <option value="WI" id="WI">Wisconsin (WI)</option>
        <option value="WY" id="WY">Wyoming (WY)</option>
    </select>
</li>

<li><label for="zip">ZIP Code:</label></li>
<li><input type="text" name="zip" id="zip" size="5" /></li>

<li><label for="zip +4">ZIP Code +4:</label></li>
<li><input type="text" name="zip +4" size="4" id="zipplusfour"/></li>
</select></li>

<li><input type="submit" value="Submit"></li>
</form>
<div id="validationResult"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      console.log('JavaScript code is executing');
    
      document.getElementById('addressForm').addEventListener('submit', function (e) {
          e.preventDefault();
          console.log('Submit button event listener is called.');
    
          const addressLine1 = document.getElementById('addressLine1').value;
          const addressLine2 = document.getElementById('addressLine2').value;
          const city = document.getElementById('city').value;
          const stateorprovince = document.getElementById('stateorprovince').value;
          const country = document.getElementById('country').value;
          const zip = document.getElementById('zip').value;
          const zipplusfour = document.getElementById('zipplusfour').value;
    
          const fullAddress ={
            addressLine1: addressLine1,
            ...(addressLine2 && { addressLine2: addressLine2 }),
            city: city,
            stateorprovince: stateorprovince,
            country: country,
            zip: zip,
            ...(zipplusfour && { zipplusfour: zipplusfour })
          };
    
          fetch('/submitAddress', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify(fullAddress),
          })
          .then(response => response.json())
          .then(data => {
            console.log('Server Response:', data);
    
            // Add logs to check the values
            console.log('validAddress:', data.validAddress);
            console.log('perfectMatch:', data.perfectMatch);
            console.log('nearMatch:', data.nearMatch);
            console.log('partialMatch:', data.partialMatch);
            console.log('found_match:', data.found_match);
    
            const validationResultElement = document.getElementById('validationResult');
    
            matchingAddresses = data.found_match
    
            if (data.validAddress === true && data.perfectMatch === true) {
              validationResultElement.textContent = 'Matching address found. (Perfect Match!)';
              validationResultElement.style.color = 'green';
              console.log('Address is valid and includes all optional elements.');
              console.log('Matching addresses:', fullAddress);
            }
            else if (data.validAddress == true && data.nearMatch == true) {
              validationResultElement.textContent = "Near match found.";
              validationResultElement.style.color = 'lightgreen';
              console.log('Address is valid but is missing optional elements.');
              console.log('Matching addresses:', fullAddress);
            }
            else if (data.validAddress === true && data.partialMatch === true) {
              validationResultElement.textContent = `Partial match found. Did you mean addressLine1:${JSON.stringify(matchingAddresses.addressLine1)} addressLine2:${JSON.stringify(matchingAddresses.addressLine2)} city:${JSON.stringify(matchingAddresses.city)} country:${JSON.stringify(matchingAddresses.country)} state:${JSON.stringify(matchingAddresses.state)} zip:${JSON.stringify(matchingAddresses.zip)} zip +4:${JSON.stringify(matchingAddresses.zipplusfour)}  `;
              validationResultElement.style.color = 'yellow';
              validationResultElement.style.backgroundColor = 'black';
              console.log('Address is valid but is partially incorrect.');
              console.log('Matching addresses:', fullAddress);
            }
            else {
              validationResultElement.textContent = 'Matching address not found.';
              validationResultElement.style.color = 'red';
              console.log('Address is not valid');
            }
          })
          .catch(error => {
              console.error('Error:', error);
          });
      });
    });
    </script>
</body>
</html>
